@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: aliceblue;
  text-decoration: none;
}

.body{
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('/public/eucalyptus.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.body::before{
  content: "";               
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  filter: brightness(70%);
  z-index: 0; 
}

#download{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 20%;
  cursor: pointer;
}

.head{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

nav{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(50,50,50,0.2);
  backdrop-filter: blur(3px);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.nav-logo{
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

nav.show{
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.box{
  height: 100%;
  min-height: 300px;
  min-width: 300px;
  width: 100%;
  overflow: hidden;
}

.button{
  filter: brightness(80%);
  color: #6c8478;
  font-size: 60px;
  height: 65px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
  cursor: pointer;
  z-index: 1;
}

.container{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px) brightness(60%);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  border-radius: 6px;
  box-shadow: 0 0px 10px rgb(0,0,0,0.6);
  padding: 1%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

.close{
  height: 10px;
  width: 10px;
}

.date{
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 600%;
  color: white;
}

.delete{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 60%;
  cursor: pointer;
  border-radius: 8%;
  border: 1px solid white;
  background-color:#6c8478;
  color: white;
  height: 10%;
}

.delete-x{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  z-index: 10;
}

.delete-x:hover{
  background-color: white;
  color: black;
}

.error-message{
  color: #e74c3c;
  font-size: 14px;
  font-weight: 800;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

footer{
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

footer p{
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%;
  color: white;
}

.gallery{
  padding: 0 2% 2% 2%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  grid-auto-rows: 300px;
  gap: 1rem;
  background-color: rgb(200,200,200);
  justify-content: flex-start;
  padding: 2%;
  border-radius: 0.8%;
}

.grid_item {
  height: 100%;
  max-height: 300px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0,0,0,0.25);
  object-fit: contain;
}

.grid_item .label-icon{
  height:100%;
  width: 100%;
  object-fit: contain;
}

.grid_item img, .grid_item video {
  width: 100%;
  height: 100%;
  display: block;
}

.grid_label{
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_label h2{
  margin-top: 10%;
}

.label-default{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.grid_label:hover{
  opacity: 0.7;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}

.grid_item video{
  background-color: black;
}

.intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;  /* fill the viewport height */
  display: flex;
  justify-content: center; /* keep content vertically centered inside */
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  color: white;
  z-index: 9999; /* stay above everything */
  overflow-y: auto;
}

.intro h1, .intro button{
  margin: 0 auto;
}

.intro h1{
  font-family: "Petit formal script", cursive;
}

.intro button{
  display: inline;
  width: 10%;
  height: 2rem;
  margin-top: 5%;
  cursor: pointer;
  background-color:#6c8478;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

video{
  cursor: pointer;
}

h1{
  font-size: 2.4rem;
  font-weight: 600;
  width: auto;
}

.heading{
text-align: center;
padding-top: 4%;
font-size: 700%;
font-family: "Great Vibes", cursive;
font-weight: bold;
color: white;
margin-bottom: 3%;
}

.main-content{
  flex: 1;
}

.modal-buttons{
  display: flex;
  gap: 1rem;
}

.modal-buttons button{
  border: 2px solid white;
  border-radius: 10px;

}

button:hover{
  cursor: pointer;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    #6c8478;
}

.modal-content{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  flex: 1 1 auto;
  color: aliceblue;
}

.modal-content input, .modal-content button{
  margin-top: 2rem;
  height: 42px;
  font-size: 16px;
}

.modal-content button{
  width: 100px;
  color: aliceblue;
  background-color: #6c8478;
}

.modal-content input{
  width: 80%;
  max-width: 350px;
  font-family: 'Lora', serif;
}

.name{
  font-size: 4.5rem;
  color: white;
}

.preview{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  height: 80%;
}

.preview_grid{
  height: 250px;
}

.preview_item{
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow:hidden;
  margin: 0 auto;
  height: 80%;
  object-fit: cover;
}

.preview_item img, .preview_item video{
  height: 100%;
  width: 100%;
  display: block;
}

.upload{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  color: white;
  background-color:#6c8478;
  border: 2px solid white;
  font-size: 150%;
  cursor: pointer;
}

.upload-button{
  height: 10%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.8rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {

  .intro button{
    width: 80%;
    font-size: 1rem;
    height: 2.5rem;
  }

  .date{
    font-size: 2.5rem;
  }

  .grid {
    grid-template-columns: 1fr; 
    gap: 0.6rem;
  }

  .grid_item {
    max-height: 250px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .heading {
    font-size: 3rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .intro h1{
    padding-left: 5%;
    padding-right: 5%;
  }

  .name{
    font-size: 3rem;
  }

  .name img{
    width: 1em;
    height: auto;
  }

}
